.post {
  margin-top: 10px;
  background-color: #d494ff;
  border-radius: 11px;
  padding: 10px;
}

.actionButton {
  float: right;
  cursor: pointer;
}

.authorBody {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  font-size: 10px;
  letter-spacing: 1.4px;
}

.MuiAvatar-colorDefault {
  background-color: #ff6d00 !important;
  color: white !important;
}

.MuiAvatar-root {
  width: 25px !important;
  height: 25px !important;
  margin-right: 5px;
}

.authorAbout {
}

.postBody {
}

.postBody__text > p {
  font-size: 20px;
  margin-bottom: 10px;
  overflow-wrap: anywhere;
}

.mediaSection {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mediaSection > img {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.mediaSection > img:hover {
  transform: scale(1.1);
}

.likesSection {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.likesSection > p {
  margin-left: 4px;
  color: rgb(100, 100, 100);
}

.commentSection {
  margin-bottom: 10px;
}

.postAction {
  display: flex;
}

.postActionOption {
  color: gray;
  font-size: 12px;
  text-align: center;
  margin-right: 35px;
  cursor: pointer;
}

.postActionOption > svg {
  font-size: 1.2rem;
}

.postActionOption:hover {
  color: black;
}

.postEditContainer {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: #fff;
  width: 100%;
  display: flex;
}

.postEditContainer > input[type="submit"] {
  border: none;
}
