* {
  margin: 0;
}

.app {
  width: max-content;
  max-width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #9d4edd;
}

.appFeed {
  display: flex;
  margin: 5px;
}

.leftSideBar {
  flex: 0.2;
}

.center {
  flex: 0.6;
}

.rightSideBar {
  flex: 0.2;
}
